---
import ThemeToggle from './ThemeToggle.astro';
---
<header class="nav">
  <div class="brand">
    <div class="brand-badge"></div>
    <span>Amanda Achiangia.</span>
  </div>
  <nav>
    <a href="#about">About</a>
    <a href="#projects">Projects</a>
    <a href="#contact">Contact</a>
  </nav>
  <ThemeToggle />
</header>